@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Mukta&family=Prompt:wght@300&family=Roboto+Slab:wght@300&family=Roboto:wght@300&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
font-family: 'Mukta', sans-serif;
font-family: 'Prompt', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Slab', serif;
}
/* this is primary buttons */
.text-primary{
    color: #FD6E0A;
}
h2{
    font-size: 2rem;
}

nav{
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
}
nav ul{
    display: flex;
    align-items: center;
    
}

.btn-hire{
    text-transform: uppercase;
    color: white;
    font-weight: 800;
    font-size: 15px;
    letter-spacing: .1rem;
    padding: 15px 50px; 
    background-color: #FD6E0A; 
    border: none;
    border-radius: 4px;
}
nav li{
    list-style: none;
    padding: 15px;
    font-weight: 800;
}

/* Banner styles */
.banner{
    background-image: url("images/header-bg.png");
    display: flex;
    align-items: center;
   margin-left: 200px;
}
.btn-download{
    background-color: #FD6E0A;
    border: none;
    padding:10px 30px;
    font-weight: 800;
}
.btn-contact{
    border: 1px solid #FD6E0A;
    padding:7px 20px;
    margin: 2px;
    color: #FD6E0A;
    font-size: 16px;
    font-weight: 800;
}